<p id="notice"><%= notice %></p>

<h1>Basic Twitter</h1>

<tr>
    <td><%= link_to 'Create a New Post Here', new_post_path %><td>
    <td><%= link_to 'Sign Up Here', new_user_path %><td>
<tr>

<h2>Tweets till now</h2>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.content %></td>
        <td><%= post.user_id %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



