<p id="notice"><%= notice %></p>

<p>
  <strong>Tweet:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Tweeted By:</strong>
  <%= @post.user_id %>
</p>

<p>
  <strong>Posted:</strong>
  <%= time_ago_in_words(@post.created_at)%> ago.
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
