<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Basic Twitter", root_path %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Users", '#' %></li> 
          <li><%= link_to "Log out", logout_path, method: "delete" %>
              </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
